body {
  background-color: powderblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

img {
  height: 200px;
}

h1 {
    color: brown;
    text-shadow: 2px 2px 10px rgb(29, 173, 137);
}

h3 {
  color: brown;
}
